{{set . "title" "Account Creation - Communities"}}
{{template "header.html" .}}

<style>
    input[type=text], input[type=password] {   
          width: 50%;   
          margin: 8px 0;  
          padding: 12px 20px;   
          display: inline-block;   
          border: 2px solid rgb(0, 0, 0);   
          box-sizing: border-box;   
      }  
      .container {   
          padding: 25px; 
          border: 3px solid #f1f1f1;   

      } 
      button {   
         background-color: #000000;   
         width: 15%;  
          color: rgb(184, 182, 179);   
          padding: 15px;   
          margin: 10px 0px;   
          border: none;   
          cursor: pointer; 
            
    }  
    button:hover {   
          opacity: 0.7;   
      }   
</style>

<center><h1> Create an Account </h1></center>

<div class = "container">
    <form action="" name="newAccountData">
        <label>Enter your Email address</label><br>
        <input type="text" name="LoginEmailAddress"/><br>
        <label>Enter a Username</label><br>
        <input type="text" name="LoginUserName"/><br>
        <label>Enter a Password</label><br>
        <input type="password" name="LoginPassword"/><br>
        <label>Confirm your Password</label><br>
        <input type="password" name="LoginPasswordConfirmation"/><br>
        <button type="submit">Create Account</button>   
    </form>

    <form action="/login" method="GET">
        <button type="submit">Go Back</button>
    </form>
</div>
{{template "footer.html" .}}