{{set . "title" "Account Creation - Communities"}}
<!-- {{template "header.html" .}} -->

<style>
    .accountRecoveryEmail{
        text-align: left;
        height: 20 px;
        padding-bottom: 10 px;
        border: 1px solid black; 
    }
</style>

<header class="jumbotron" style="background-color:#f1ce6c">
    <div class="container">
        <div class="row">
        <h1>This page is a work in progress. Check back soon!</h1>
        Just enter random stuff in the username and password for now
        <p></p>
        </div>
    </div>
</header> 

<form method = "POST">
    Enter the email address that you used in order to create an account :: 
    <input type="text" name="LoginUserName"/><br/>
</form>

<form action="/login" method="GET">
    <input type="submit" value="Go back" />
</form>

<!-- {{template "footer.html" .}} -->