{{set . "title" "Community Page  - Communities"}}

<style>
    .communityPosts{
            display:flex;
            flex-direction: column;
            float:left;
            width:49%;
            border: 5px solid gray;
            height: 100%;
    }
    .postWindow{
            border-bottom: 2px solid gray;
    }
    .eventWindow{
            border-bottom: 2px solid gray;
    }
    .right-hand-side{
            display:flex;
            flex-direction: column;
            border: 5px solid grey;
            width:49%;
            float: right;
            height: 100%;
    }
    .communityEvents{
            display:flex;
            flex-direction: column;
            float:right;
            width: 100%;
    }
    .break {
        flex-basis: 100%;
        height: 0;
    }
    .windowHeader{
        border-bottom: 5px solid gray;
    }
    button{
            background-color: black;
            margin:auto;
            color: white;
    }
</style>  

<center><h1> {{.CurrentCommunity}} </h1></center> 
<center> {{.CurrentCommunityDescription}} </center>

<form action = "/home" method = "GET">
    <button type="submit" style = "width: 10%; height: 2%;" >Go Back</button>
</form> 
<div class = "communityPosts">
    <div class = "windowHeader">
        <i><b>Latest Posts</b></i>
        <a href = "/NewPost" style="float: right;"><button>Make a new Post</button></a> 
    </div>
    {{template "CommunityPosts.html" .}}
</div>

<div class = "right-hand-side">
    <div class = "communityEvents">
        <div class = "windowHeader">
            <i><b>Upcoming events for {{.CurrentCommunity}}</b></i>
            <a href = "/NewEvent" style="float: right;"><button>Make a new Event</button></a> 
        </div>
        {{template "CommunityEvents.html" .}}
        
    </div>
</div>

<!-- {{template "footer.html" .}} -->