{{set . "title" "Home - Communities"}}
{{template "flash.html" .}}

<style>
    .map{
      position: absolute;
      text-align: center;
      width: 53%;
      height: 100%;
      left:24%;
      right:23%;
    }
    .communitypages{
      padding-left: 10px;
      width: 23%;
      height: 95%;
      border: 10px solid black;
      left: 1%;
    }
    .communities{
      padding-right:10px;
      width: 22%;
      height: 89%;
      border: 10px solid black;
      position: absolute;
      top: 8%;
      right:0px;
    }
    .profileWindow{
      padding-right: 10px;
      width: 22%;
      height: 5%;
      border: 10px solid black;
      position: absolute;
      top: 1%;
      right:0px;
    }
    .communityWindow{
      width: 94%;
      height: 8%;
      border: 10px solid black;
      position: absolute;
      top: 3%;
      right: 1%;
    }
    .postWindow{
      width: 22%;
      height: 10%;
      border: 10px solid black;
      position: absolute;
      top: 4%;
      left: 1%;
    }
    button {   
      background-color: #000000;   
      width: 35%;  
      color: rgb(184, 182, 179);  
      margin: 10px 0px;   
      border: none;   
      cursor: pointer;
    }  
    button:hover {   
          opacity: 0.7;   
    }
    
  </style>
  
  <div class = "map">
    <img src="/public/img/my-map.png" height = 100%> 
  </div>
  
  <div class="container">
    <div class="communitypages">
      Latest news from {{.LoginUserName}}'s communities
      {{template "LatestPosts.html" .}}
      <!-- <div class = "postWindow">
        <b>Post Title</b></br>
        Post Contents
      </div> -->
    </div>
  </div>
  
  <div class = "container">
    <div class="profileWindow">
        Hello {{.LoginUserName}}<br/>
        <!-- <form action="/Profile" method="GET">
          <input type="submit" value="My Profile" />
        </form>
        <form action="/CreateCommunity" method="GET" right="1%">
          <input type="submit" value="Create New Community" />
        </form> -->
        <a href = "/Profile"><button>My Profile</button></a> 
        <a href = "/CreateCommunity"><button>New Community</button></a> 
    </div>
    <div class = "communities">
      My Communities
      {{template "Communities.html" .}}
      <!-- <div class = "communityWindow">
        <b>Community Title</b><br/>
        Community Description
        <form action="/Community" method="GET" right="1%">
          <input type="submit" value="Visit Community" />
        </form>
      </div> -->
    </div>
  </div>