{{set . "title" "Home - Communities"}}
{{template "flash.html" .}}

<style>
    .flex-container{
            display:flex;
            flex-direction: row;
    }
    .communityWindow{
            border-bottom: 2px solid gray;

    }
    .postWindow{
            border-bottom: 2px solid gray;
    }
    .communitypages{
            display:flex;
            flex-direction: column;
            float:left;
            width:50%;
            border: 5px solid gray;
    }
    .right-hand-side{
            display:flex;
            flex-direction: column;
            border: 5px solid grey;
            width:50%;
    }
    .communities{
            display:flex;
            flex-direction: column;
            float:right;
            width: 100%;
            border-top: 5px solid gray;
    }
    .profileWindow{
            display:flex;
            flex-flow: wrap;
            white-space:wrap;
            border-bottom: 5px solid grey;
    }
    .map{
            margin:auto;
    }
    .latestHead{
      border-bottom: 5px solid gray;
    }
    .break {
        flex-basis: 100%;
        height: 0;
    }
    button{
            background-color: black;
            margin:auto;
            color: white;
    }
</style>    
  
<div class="flex-container">
  <div class="communitypages">
          <div class = "latestHead">
                <i><b> Latest news from {{.LoginUserName}}'s communities</b></i>
          </div>
          {{template "LatestPosts.html" .}}
  </div>
  <div class="map">
          <img src="/public/img/my-map.png" height = 90%>
  </div>
  <div class ="right-hand-side">
          <div class="profileWindow">
                  <b>Hello <i>{{.LoginUserName}}</i></b><div class = "break"></div>
                  <a href = "/Profile"><button>My Profile</button></a>
                  <a href = "/CreateCommunity"><button>New Community</button></a>

          </div>
          <i><b>My Communities</b></i>
          <div class="communities">

                  {{template "Communities.html" .}}
          </div>
</div>
