{{set . "title" "Login - Communities"}}
{{template "header.html" .}}

<header class="jumbotron" style="background-color:#ffffff">
  <div class="container">
    <div class="row">
      <center><h1>Welcome to Communities!</h1></center>
      <p></p>
    </div>
  </div>
</header>

<center>
  <form action="/" method="GET">
    <input type="text" name="LoginUserName" placeholder="Username"/><br/>
    <input type="password" name="LoginPassword" placeholder="Password"><br/>
    <input type="submit" value="Login" />
  </form>


  <form action="/AccRecovery" method="GET"> 
    <input type="submit" value="Forgot Password?" />
  </form>

  <form action="/AccountCreation" method="GET">
    <input type="submit" value="Create an Account" />
  </form>
</center>
{{template "footer.html" .}}