{{set . "title" "Profile - Communities"}}
{{template "header.html" .}}

<style>
    .profilePicture{
        text-align: left;
        height: 20 px;
        padding-bottom: 10 px;  
    }
    .UsernameAndPassword{
        text-align: left;
        height: 500 px;
        padding-bottom: 10 px;
    }
    .userCommunities{
        text-align: left;
        height: 300 px;
        padding-bottom: 10 px;
    }
    .userPosts{
        text-align: left;
        height: 200 px;
        padding-bottom: 10 px;
    }
    input[type=text], input[type=password] {   
          width: 50%;   
          margin: 8px 0;  
          padding: 12px 20px;   
          display: inline-block;   
          border: 2px solid rgb(0, 0, 0);   
          box-sizing: border-box;   
    }
    .container {   
          padding: 25px; 
          border: 3px solid #f1f1f1;   
      } 
    button {   
         background-color: #000000;   
         width: 15%;  
          color: rgb(184, 182, 179);   
          padding: 15px;   
          margin: 10px 0px;   
          border: none;   
          cursor: pointer;   
    }
    button:hover {   
          opacity: 0.7;   
    }        
</style>

<center><h1> My Profile </h1></center> 

<div class = "container">
    <div class = "profilePicture"> 
        <label>Profile Picture: </label>
    </text>

    <div class = "UsernameAndPassword">
    Current Username: {{.LoginUserName}} 
        <form method = "POST">
            <input type="text" name="LoginUserName" placeholder="Change Username"/><br/>
        </form>

        <text> Current Password: {{.LoginPassword}} </text>
        <form method = "POST">
            <input type="password" name="LoginPassword" placeholder = "Change Password"><br/>
            <input type="password" name="LoginPasswordConfirm" placeholder = "Confirm Password">
        </form>
    </div>

    <div class = "userCommunities">
        <label>My Communities</label>
    </div>

    <div class = "userPosts">
        <label>My Posts</label>
    </div>

    <form action="/" method="GET">
        <button type="submit">Go Back</button>
    </form>
</div>

<!-- {{template "footer.html" .}} -->