
			<div class = "communityWindow" style= "top:3%;">
				<b>HardcoreProgrammers</b><br/>
				A community consisting of hardcore programmers
				<form action="/Community" method="GET" right="1%">
					<input type="submit" value="Visit Community" />
				</form>
		    </div>
			
			<div class = "communityWindow" style= "top:14%;">
				<b>Casual Bastards</b><br/>
				COME AT ME BROSKIS
				<form action="/Community" method="GET" right="1%">
					<input type="submit" value="Visit Community" />
				</form>
		    </div>
			
			<div class = "communityWindow" style= "top:25%;">
				<b>Job Seekers</b><br/>
				A group of people looking for jobs
				<form action="/Community" method="GET" right="1%">
					<input type="submit" value="Visit Community" />
				</form>
		    </div>
			
			<div class = "communityWindow" style= "top:36%;">
				<b>Insanity Cyclers</b><br/>
				A community of people who love to take insane bike rides
				<form action="/Community" method="GET" right="1%">
					<input type="submit" value="Visit Community" />
				</form>
		    </div>
			
			<div class = "communityWindow" style= "top:47%;">
				<b>Only a test</b><br/>
				The only purpose of this community is to test the rendering of an addition
				<form action="/Community" method="GET" right="1%">
					<input type="submit" value="Visit Community" />
				</form>
		    </div>
			
			<div class = "communityWindow" style= "top:58%;">
				<b>Cult of Diddy Drop</b><br/>
				A community of rappers that enjoy the DK Cartoon song Diddy drop Rap
				<form action="/Community" method="GET" right="1%">
					<input type="submit" value="Visit Community" />
				</form>
		    </div>
			
			<div class = "communityWindow" style= "top:69%;">
				<b>Scroll Researchers</b><br/>
				A community of programmers figuring out how to turn this section into a scrolling window
				<form action="/Community" method="GET" right="1%">
					<input type="submit" value="Visit Community" />
				</form>
		    </div>
				