
		<div class = "eventWindow">
			<b> Praise and Worship of the Scroll </b><br/>
			<i>Date : </i>
			November 21, 2021
			<br/>
			<i>Time : </i>
			6:00 P.M
			<br/>
			<i>Location : </i>
			First Church of the Scroll, 404 Does Not Exist Blvd, Lubbock TX
			<br/>
			<br/>
			Join us for a moment of praise and worship of the scroll, as it has blessed us developers with near infinite scalability!
		</div>
		
		<div class = "eventWindow">
			<b> One more Test </b><br/>
			<i>Date : </i>
			N/A
			<br/>
			<i>Time : </i>
			N/A
			<br/>
			<i>Location : </i>
			N/A
			<br/>
			<br/>
			Seeing if the scroll appears after this event.
		</div>
		
		<div class = "eventWindow">
			<b> Moar testing </b><br/>
			<i>Date : </i>
			N/A
			<br/>
			<i>Time : </i>
			N/A
			<br/>
			<i>Location : </i>
			N/A
			<br/>
			<br/>
			Moar testing to make our lord and savior The Scroll to appear. He is coming soon!
		</div>
		
		<div class = "eventWindow">
			<b> Another test </b><br/>
			<i>Date : </i>
			N/A
			<br/>
			<i>Time : </i>
			N/A
			<br/>
			<i>Location : </i>
			N/A
			<br/>
			<br/>
			Another event for the scroll
		</div>
		
		<div class = "eventWindow">
			<b> Yet another test </b><br/>
			<i>Date : </i>
			N/A
			<br/>
			<i>Time : </i>
			N/A
			<br/>
			<i>Location : </i>
			N/A
			<br/>
			<br/>
			Testing the scroll functionality for this window
		</div>
		
		<div class = "eventWindow">
			<b> This event is only a test </b><br/>
			<i>Date : </i>
			N/A
			<br/>
			<i>Time : </i>
			N/A
			<br/>
			<i>Location : </i>
			N/A
			<br/>
			<br/>
			Another test for the scroll
		</div>
		
		<div class = "eventWindow">
			<b> Post and Event Spam! </b><br/>
			<i>Date : </i>
			Today
			<br/>
			<i>Time : </i>
			Ongoing
			<br/>
			<i>Location : </i>
			Within this page.
			<br/>
			<br/>
			Use your computer to spam this community with posts and events! We are trying to test a new feature that allows scrolling of posts and events!
		</div>
		
		<div class = "eventWindow">
			<b> Test </b><br/>
			<i>Date : </i>
			September 12, 2022
			<br/>
			<i>Time : </i>
			8:00 AM
			<br/>
			<i>Location : </i>
			N/A
			<br/>
			<br/>
			This is a test of the new Event change. Making sure that the date change is operational.
		</div>
		
		<div class = "eventWindow">
			<b> Hacking Tournament </b><br/>
			<i>Date : </i>
			Sept. 12, 2022
			<br/>
			<i>Time : </i>
			8:00 AM
			<br/>
			<i>Location : </i>
			Lubbock Civic Center
			<br/>
			<br/>
			Join us for a round of hacking! We are looking for the hardest of the hardcore. We will be playing CTF on a company that a client has asked us to target.
		</div>
		