
			<div class = "communityWindow" style="top:3%;">
				<b>frogs</b><br/>
				all about frogs
				<form action="/LoadAssociatedData" method="POST" right="1%">
					<input type="hidden" name="CurrentCommunity" value="frogs" >
					<button type="submit">Visit Community</button><br>
				</form>
		    </div>
			
			<div class = "communityWindow" style="top:12%;">
				<b>dogs</b><br/>
				cats
				<form action="/LoadAssociatedData" method="POST" right="1%">
					<input type="hidden" name="CurrentCommunity" value="dogs" >
					<button type="submit">Visit Community</button><br>
				</form>
		    </div>
			