
		<div class = "eventWindow">
			<b> Test </b><br/>
			<i>Date : </i>
			September 12, 2022
			<br/>
			<i>Time : </i>
			8:00 AM
			<br/>
			<i>Location : </i>
			N/A
			<br/>
			<br/>
			This is a test of the new Event change. Making sure that the date change is operational.
		</div>
		
		<div class = "eventWindow">
			<b> Hacking Tournament </b><br/>
			<i>Date : </i>
			Sept. 12, 2022
			<br/>
			<i>Time : </i>
			8:00 AM
			<br/>
			<i>Location : </i>
			Lubbock Civic Center
			<br/>
			<br/>
			Join us for a round of hacking! We are looking for the hardest of the hardcore. We will be playing CTF on a company that a client has asked us to target.
		</div>
		