
			<div class = "communityWindow">
				<b>Brood War Masters</b><br/>
				Grandmasters of the video game Starcraft Brood War
				<form action="/LoadAssociatedData" method="POST" right="1%">
					<input type="hidden" name="CurrentCommunity" value="Brood War Masters" >
					<input type="hidden" name="CurrentCommunityDescription" value="Grandmasters of the video game Starcraft Brood War">
					<button type="submit">Visit Community</button><br>
				</form>
		    </div>
			
			<div class = "communityWindow">
				<b>Sora Mains</b><br/>
				Super Smash Bros Players that main the character Sora
				<form action="/LoadAssociatedData" method="POST" right="1%">
					<input type="hidden" name="CurrentCommunity" value="Sora Mains" >
					<input type="hidden" name="CurrentCommunityDescription" value="Super Smash Bros Players that main the character Sora">
					<button type="submit">Visit Community</button><br>
				</form>
		    </div>
			
			<div class = "communityWindow">
				<b>Retro Nerds</b><br/>
				Archivers of Vintage Tech
				<form action="/LoadAssociatedData" method="POST" right="1%">
					<input type="hidden" name="CurrentCommunity" value="Retro Nerds" >
					<input type="hidden" name="CurrentCommunityDescription" value="Archivers of Vintage Tech">
					<button type="submit">Visit Community</button><br>
				</form>
		    </div>
			
			<div class = "communityWindow">
				<b>Cult of Diddy Drop</b><br/>
				Rappers of the DK Cartoon Song Diddy for the Coconut
				<form action="/LoadAssociatedData" method="POST" right="1%">
					<input type="hidden" name="CurrentCommunity" value="Cult of Diddy Drop" >
					<input type="hidden" name="CurrentCommunityDescription" value="Rappers of the DK Cartoon Song Diddy for the Coconut">
					<button type="submit">Visit Community</button><br>
				</form>
		    </div>
			
			<div class = "communityWindow">
				<b>MGM Curators</b><br/>
				A community presenting and displaying the old cartoons and movies of MGM
				<form action="/LoadAssociatedData" method="POST" right="1%">
					<input type="hidden" name="CurrentCommunity" value="MGM Curators" >
					<input type="hidden" name="CurrentCommunityDescription" value="A community presenting and displaying the old cartoons and movies of MGM">
					<button type="submit">Visit Community</button><br>
				</form>
		    </div>
			
			<div class = "communityWindow">
				<b>Downtown Reborn</b><br/>
				Activists advocating for the revival of Lubbock's deteriorating downtown area.
				<form action="/LoadAssociatedData" method="POST" right="1%">
					<input type="hidden" name="CurrentCommunity" value="Downtown Reborn" >
					<input type="hidden" name="CurrentCommunityDescription" value="Activists advocating for the revival of Lubbock's deteriorating downtown area.">
					<button type="submit">Visit Community</button><br>
				</form>
		    </div>
			
			<div class = "communityWindow">
				<b>Eyes of the Sky</b><br/>
				The plane spotting community for Lubbock
				<form action="/LoadAssociatedData" method="POST" right="1%">
					<input type="hidden" name="CurrentCommunity" value="Eyes of the Sky" >
					<input type="hidden" name="CurrentCommunityDescription" value="The plane spotting community for Lubbock">
					<button type="submit">Visit Community</button><br>
				</form>
		    </div>
			
			<div class = "communityWindow">
				<b>Bambi Hunters</b><br/>
				A group of hunters actively looking for Bambi
				<form action="/LoadAssociatedData" method="POST" right="1%">
					<input type="hidden" name="CurrentCommunity" value="Bambi Hunters" >
					<input type="hidden" name="CurrentCommunityDescription" value="A group of hunters actively looking for Bambi">
					<button type="submit">Visit Community</button><br>
				</form>
		    </div>
			
			<div class = "communityWindow">
				<b>Cheapskate Vacationiers</b><br/>
				A group of people that plan and showcase ultra cheap vacations
				<form action="/LoadAssociatedData" method="POST" right="1%">
					<input type="hidden" name="CurrentCommunity" value="Cheapskate Vacationiers" >
					<input type="hidden" name="CurrentCommunityDescription" value="A group of people that plan and showcase ultra cheap vacations">
					<button type="submit">Visit Community</button><br>
				</form>
		    </div>
			
			<div class = "communityWindow">
				<b>Casual Bastards</b><br/>
				We just want to live easy
				<form action="/LoadAssociatedData" method="POST" right="1%">
					<input type="hidden" name="CurrentCommunity" value="Casual Bastards" >
					<input type="hidden" name="CurrentCommunityDescription" value="We just want to live easy">
					<button type="submit">Visit Community</button><br>
				</form>
		    </div>
			
			<div class = "communityWindow">
				<b>Job Seekers</b><br/>
				A group of people looking for jobs
				<form action="/LoadAssociatedData" method="POST" right="1%">
					<input type="hidden" name="CurrentCommunity" value="Job Seekers" >
					<input type="hidden" name="CurrentCommunityDescription" value="A group of people looking for jobs">
					<button type="submit">Visit Community</button><br>
				</form>
		    </div>
			
			<div class = "communityWindow">
				<b>Insanity Cyclers</b><br/>
				A community of people who love to take insane bike rides
				<form action="/LoadAssociatedData" method="POST" right="1%">
					<input type="hidden" name="CurrentCommunity" value="Insanity Cyclers" >
					<input type="hidden" name="CurrentCommunityDescription" value="A community of people who love to take insane bike rides">
					<button type="submit">Visit Community</button><br>
				</form>
		    </div>
			
			<div class = "communityWindow">
				<b>League of Pinheads</b><br/>
				A community consisting of Lubbock's most elite pinball players
				<form action="/LoadAssociatedData" method="POST" right="1%">
					<input type="hidden" name="CurrentCommunity" value="League of Pinheads" >
					<input type="hidden" name="CurrentCommunityDescription" value="A community consisting of Lubbock's most elite pinball players">
					<button type="submit">Visit Community</button><br>
				</form>
		    </div>
			
			<div class = "communityWindow">
				<b>Hardcore Programmers</b><br/>
				A group of programmers that tackle the most insane of challenges.
				<form action="/LoadAssociatedData" method="POST" right="1%">
					<input type="hidden" name="CurrentCommunity" value="Hardcore Programmers" >
					<input type="hidden" name="CurrentCommunityDescription" value="A group of programmers that tackle the most insane of challenges.">
					<button type="submit">Visit Community</button><br>
				</form>
		    </div>
			