
		<div class = "postWindow">
			<b> The Waiting Game </b><br/>
			It's hard, but once it goes through the dream will be achieved, assuming I pass the check. One thing remains though, what the hell happened to my other investigations?
		</div>
		
		<div class = "postWindow">
			<b> What on earth happened? </b><br/>
			Previously, this application ran ok with Latitude and Longitude being declared as floats in SQL. Now, for some reason, SQL gets pissed whenever floats are inserted. We had to change them to varchar as a result. Very Strange.
		</div>
		